  <%= search_form_for @p,url: aggregate_search_customers_path do |f| %>
      <div class="aggregate_search">
        <div class="search_head">検索フォーム</div><span>※指定した範囲の売上総額を月ごとに表示します</span>
        <div class="search_field">
          <%= f.date_field :purchase_date_gteq ,class: "input_date"%><em>〜</em>
          <%= f.date_field :purchase_date_lteq ,class: "input_date"%><em>まで</em>
          <div class="search_btn">
            <%= f.submit "検索"%>
          </div>
        </div>
      </div>
  <% end %> 

  