.customers_wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url("/images/keith.jpg");
  background-size: cover;
}

/* メイン */
.customers_container{
  width: 100%;
  height: calc(100% -70px);
  padding: 20px 0 30px;
  background-image: url("/images/keith.jpg");
  background-size: cover;
}

.customer_container{
  width: calc(100% - 140px);
  height: calc(100% - 50px);
  background-color: rgba(247, 243, 243, 0.9);
  margin: 0 auto;
  font-size: 20px;
  padding: 30px 0 40px;
  border: 2px double dimgrey;
  border-radius: 10px;
}

.container_lists{
  width: 1200px;
  height: 25px;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
}

.secondary_lists{
  display: none;
}

.list_name{
  border-right: 1px solid black;
  width: 150px;
  color: rgb(70, 68, 68);
}

.list_name a{
  color: rgb(49, 153, 49);
}

.list_address{
  border-right: 1px solid black;
  width: 550px;
  color: rgb(70, 68, 68);
}

.list_visit_date{
  border-right: 1px solid black;
  width: 180px;
  color: rgb(70, 68, 68);
}

.list_purchase_date{
  border-right: 1px solid black;
  width: 180px;
  color: rgb(70, 68, 68);
}

.list_plice{
  width: 200px;
  color: rgb(70, 68, 68);
}

@media (max-width:1350px){
  .customer_container{
    width: calc(100% - 80px);
  }

  .container_lists{
    display: none;
  }

  .secondary_lists{
    display: block;
    width: 100%;
    padding: 0 5px;
  }

  .upper_lists{
    display: flex;
  }

  .secondary_name{
    width: 150px;
    border: 1px solid black;
  }

  .secondary_name a{
    color: rgb(49, 153, 49);
  }

  .secondary_address{
    width: 100%;
    border: 1px solid black;
    color: rgb(70, 68, 68);
  }

  .lower_lists{
    width: 100%;
  }

  .secondary_visit_date{
    width: 180px;
    border: 1px solid black;
    color: rgb(70, 68, 68);
  }

  .secondary_purchase_date{
    width: 180px;
    border: 1px solid black;
    color: rgb(70, 68, 68);
  }

  .secondary_plice{
    width: calc(100% - 510px);
    border: 1px solid black;
    color: rgb(70, 68, 68);
  }
}

@media (max-width: 749px){
  .customer_container{
    width: 95%;
  }

  .secondary_lists{
    font-size: 15px;
  }

  .secondary_name{
    width: 100px;
  }

  .secondary_visit_date{
    width: 155px;
  }

  .secondary_purchase_date{
    width: 155px;
  }

  .secondary_plice{
    width: calc(100% - 310px);
  }
}

@media (max-width: 510px){
  .customer_container{
    width: 100%;
  }

  .secondary_lists{
    font-size: 12px;
  }

  .secondary_name{
    width: 90px;
  }

  .secondary_visit_date{
    width: 120px;
  }

  .secondary_purchase_date{
    width: 120px;
  }

  .secondary_plice{
    width: calc(100% - 270px);
  }
}