.customers_wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url("/images/keith.jpg");
  background-size: cover;
}

/* メイン */
.customers_container{
  width: 100%;
  height: calc(100% -70px);
  padding: 20px 0 30px;
  background-image: url("/images/keith.jpg");
  background-size: cover;
}

.customer_container{
  width: calc(100% - 140px);
  height: calc(100% - 50px);
  background-color: rgba(247, 243, 243, 0.9);
  margin: 0 auto;
  font-size: 20px;
  padding: 30px 0 40px;
  border: 2px double dimgrey;
  border-radius: 10px;
}

.container_lists{
  width: 1200px;
  height: 25px;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
}

.list_name{
  border-right: 1px solid black;
  width: 150px;
  color: rgb(70, 68, 68);
}

.list_name a{
  color: rgb(49, 153, 49);
}

.list_address{
  border-right: 1px solid black;
  width: 550px;
  color: rgb(70, 68, 68);
}

.list_visit_date{
  border-right: 1px solid black;
  width: 150px;
  color: rgb(70, 68, 68);
}

.list_purchase_date{
  border-right: 1px solid black;
  width: 150px;
  color: rgb(70, 68, 68);
}

.list_plice{
  width: 200px;
  color: rgb(70, 68, 68);
}

.top{
  text-align: center;
  margin-top: 30px;
}

.top a{
  color: rgb(49, 153, 49);
}
 
