.customer_wrapper{
  width: 100vw;
  height: 100vh;
  background-color: rgb(206, 203, 203);
}

.customer_main{
  width: 100vw;
  height: 70px;
  background-color: rgb(155, 49, 49);
}

.customer_title{
  font-size: 25px;
  color:  rgb(245, 243, 239);
  padding: 20px 0 0 20px;
  font-family: monospace;
}

/* メイン */
.customer_field{
height: calc(100% -70px);
background-image: url("/images/keith.jpg");
background-size: cover;
padding: 20px 0 30px;
}

.customer_form{
  width: calc(100vw - 300px);
  height: 780px;
  margin: auto;
  background-color: rgba(226, 219, 219, 0.9);
  display: flex;
  border: 2px double dimgrey;
  border-radius: 10px;
}

.form_title{
  font-size: 20px;
  padding: 20px 0 0 20px;
  margin-bottom: 30px;
  color: gray;
  font-family: monospace;
}

.left_form{
  width: 50%;
  padding: 0 40px;
}

.right_form{
  width: 50%;
  margin-top: 40px;
  margin-left: 70px;
  padding: 0 20px;
}

.name_field{
  display: flex;
  margin-top: 20px;
}

.last_name{
  width: 50%;
}

.first_name{
  width: 50%;
  margin-top: 20px;
  margin-left: 40px;
}

.postal_code{
margin: 20px 300px 0 0;
}

.prefecture_field{
  display: flex;
  margin-top: 20px;
}

select{
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.city{
  margin-left: 40px;
}

.house_number{
  width: 40%;
  margin-top: 20px;
}

.building{
  width: 60%;
  margin-top: 20px;
}

.phone{
  width: 60%;
  margin-top: 20px;
}

.product{
  width: 400px;
}

span{
display: flex;
}

.visit_field{
  margin-top: 20px;
}

.visit_area{
  display: flex;
  align-items: center;
  width: 400px;
}

.visit_date{
  table-layout: fixed;
  width: 80%;
}

.purchase_field{
  margin-top: 20px;
}

.purchase_area{
  display: flex;
  align-items: center;
  width: 400px;
}

.purchase_date{
  table-layout: fixed;
  width: 80%;
}

.customer_culumn{
  margin-top: 30px;
}

.remark_textarea{
  height: 200px;
  width: 80%;
  display: block;
  font-size: 15px;
  padding: 10px;
}

.price{
  width: 70%;
  margin-top: 30px;
}

.input_name{
  font-size: 20px;
  }

.actions {
  width: 30%;
  margin: 0 auto;
}

.actions input{
  border: 3px solid gray;
  color: aliceblue;
  cursor: pointer;
}

.required{
  color: red;
  font-size: 15px;
}



