.customer_wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url("/images/keith.jpg");
  background-size: cover;
}

.customer_main{
  width: 100%;
  height: 70px;
  background-color: rgb(155, 49, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.customer_title{
  font-size: 25px;
  color:  rgb(245, 243, 239);
  font-family: monospace;
}

.home_top a{
  background-color: rgb(155, 49, 49);
  color: white;
  font-size: 18px;
  text-decoration: underline;
}

/* メイン */
.customer_field{
height: auto;
width: 100%;
padding: 20px 0 30px;
background-image: url("/images/keith.jpg");
background-size: cover;
}

.customer_form{
  width: calc(100vw - 300px);
  height: 100%;
  margin: auto;
  background-color: rgba(226, 219, 219, 0.9);
  display: flex;
  border: 2px double dimgrey;
  border-radius: 10px;
  padding-bottom: 20px;
}

.form_title{
  font-size: 20px;
  padding: 20px 0 0 20px;
  margin-bottom: 30px;
  color: gray;
  font-family: monospace;
}

.left_form{
  width: 50%;
  padding: 0 30px;
  height: 100%;
}

.right_form{
  width: 50%;
  margin-top: 40px;
  margin-left: 70px;
  padding: 0 20px;
}

.name_field{
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 70px;
}

.last_name{
  width: 50%;
}

.first_name{
  width: 50%;
  margin-top: 20px;
  margin-left: 40px;
}

.postal_code{
  width: 180px;
  margin-top: 20px;
}

.prefecture_field{
  display: flex;
  margin-top: 20px;
  height: 60px;
}

.prefecture select{
  width: 100%;
  height: 47px;
}

select{
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.city{
 margin-left: 10px;
}

.house_number{
  width: 70%;
  margin-top: 20px;
  height: 60px;
}

.building{
  width: 70%;
  margin-top: 20px;
  height: 60px;
}

.phone{
  width: 60%;
  margin-top: 20px;
  height: 60px;
}

.product{
  width: 80%;
}

span{
display: flex;
}

.visit_field{
  margin-top: 20px;
}

.visit_area{
  display: flex;
  align-items: center;
  width: 400px;
}

.visit_date{
  table-layout: fixed;
  width: 80%;
}

.purchase_field{
  margin-top: 20px;
}

.purchase_area{
  display: flex;
  align-items: center;
  width: 400px;
}

.purchase_date{
  table-layout: fixed;
  width: 80%;
}

.customer_culumn{
  margin-top: 30px;
}

.remark_textarea{
  height: 200px;
  width: 80%;
  display: block;
  font-size: 15px;
  padding: 10px;
}

.price{
  width: 70%;
  margin-top: 30px;
}

.earnings{
  width: 70%;
}

.input_name{
  font-size: 20px;
  }

.actions {
  width: 130px;
  margin: 0 auto;
}

.actions input{
  border: 3px solid gray;
  color: aliceblue;
  cursor: pointer;
}

.required{
  color: red;
  font-size: 15px;
}

@media (max-width: 1350px){
  .customer_form{
    width: 90%;
  }
}

@media (max-width: 1254px){
  .right_form{
    margin-left: 10px;
  }

  .last_name{
    width: 200px;
    margin-top: 6px;
  }

  .first_name{
    width: 200px;

  }

  .visit_field{
    width: 100%;
  }

  .visit_area select{
    width: 30%;
  }

  .customer_form label{
    font-size: 15px;
  }

  .price em{
    font-size: 15px;
  }
}

@media (max-width: 986px){
  .customer_form{
    width: calc(100% - 10px);
  }

  .customer_form label{
    font-size: 12px;
  }

  .input_name{
    font-size: 15px;
  }

  .prefecture select{
    font-size: 15px;
    height: 42px;
  }

  .visit_area {
    width: 100%;
  }

  .visit_area select{
    font-size: 15px;
  }

  .purchase_area {
    width: 100%;
  }

  .purchase_area select{
    font-size: 15px;
  }
}

@media (max-width: 767px){
  .customer_title{
    font-size: 20px;
  }

  .home_top a{
    font-size: 15px;
  }

  .customer_form{
    display: block;
  }

  .customer_form label{
    font-size: 12px;
  }

  .form_title{
    font-size: 18px;
  }

  .left_form{
    width: 100%;
    padding: 0 30px;
  }

  .right_form{
    width: 100%;
  }
}

@media (max-width:380px){
  .customer_title{
    font-size: 18px;
  }

  .home_top a{
    font-size: 15px;
  }

  .customer_form label{
    font-size: 10px;
  }
  
  .left_form{
    padding: 0 5px;
  }

  .right_form{
    padding-left: 2px;
    padding-right: 5px;
    margin-left: 3px;
  }
}



