.unresult{
  text-align: center;
  margin-top: 40px;
}

.search_form{
  width: 650px;
  height: 480px;
  background-color: rgba(247, 243, 243, 0.8);
  border: 3px solid rgb(151, 74, 19);
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

.search_top{
  text-align: center;
  padding-bottom: 20px;
  font-family: monospace;
  font-size: 25px;
}

.search_name{
  display: flex;
  align-items: center;
  margin-left: 62px;
}

.search_name label{
  width: 25px;
  
}

.search_name input{
  width: 150px;
  margin-right: 30px;
}

.search_prefecture{
  margin-top: 10px;
}

.search_prefecture label{
  margin-right: 3px;
}

.search_city{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search_city label{
  width: 70px;
  margin-right: 17px;
}

.search_city input{
  width: 300px;
}

.search_visit{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search_visit label{
  width: 70px;
  margin-right: 17px;
}

.search_visit input{
width: 170px;
}

.search_purchase{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search_purchase label{
  width: 70px;
  margin-right: 17px;
}

.search_purchase input{
  width: 170px;
}

.button{
  width: 100px;
  margin-left: 250px;
}

.btn{
  background-color: lightseagreen;
  font-size: 15px;
}

.search_money{
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 800px;
  
}

.search_money label{
  width: 70px;
  
}

.search_money input{
  width: 20px;
}

.sort{
  text-align: right;
  margin-right: 90px;
}

.sort_link{
  font-size: 17px;
  color: yellow;
}
