.calender_main{
  width: 100%;
  height: calc(100% -70px);
  padding: 50px 50px 40px;
  background-image: url("/images/keith.jpg");
  background-size: cover;
}

.customer_new{
  font-size: 20px;
  text-align: right;
  padding-bottom: 10px;
}

.customer_chart{
  font-size: 20px;
  text-align: right;
}

.calender_field{
  height: calc(100% - 60px);
}

tr th{
  background-color: rgb(233, 133, 133);
}

tr td{
  background-color: ivory;
}

.visit_calender a{
  color: rgb(31, 29, 29);
  background-color: rgb(210, 240, 210);
}

.calendar-title{
  font-size: 40px;
  color: antiquewhite;
}

.home_top a{
  background-color: rgba(240, 230, 230, 0.9);
  color: rgb(49, 153, 49);
  font-size: 18px;
}