.calender_main{
  width: 100%;
  height: calc(100% -70px);
  padding: 50px 50px 40px;
  background-image: url("/images/keith.jpg");
  background-size: cover;
}

.secondary_text{
  display: none;
}

.customer_new{
  font-size: 20px;
  text-align: right;
  padding-bottom: 10px;
}

.customer_chart{
  font-size: 20px;
  text-align: right;
}

tr th{
  background-color: rgb(233, 133, 133);
}

tr td{
  background-color: ivory;
}

.visit_calender a{
  color: rgb(15, 138, 15);
}

.visit_secondary_calender{
  display: none;
}

.calendar-title{
  font-size: 40px;
  color: antiquewhite;
}

@media (max-width: 1130px){
  .calender_main{
    padding: 50px 10px 40px;
  }

  .visit_calender{
    font-size: 8px;
  }
}

@media (max-width: 777px){
  .calender_main{
    padding: 50px 2px 50px;
  }

  .secondary_text{
    display: block;
    color: rgb(240, 231, 231);
  }

  .visit_calender{
    display: none;
  }

  .visit_secondary_calender{
    display: block;
    font-size: 7px;
  }

  .visit_secondary_calender a{
    color: rgb(15, 138, 15);
  }
}

@media (max-width:566px){
  .customer_new {
    font-size: 15px;
  }

  .customer_chart{
    font-size: 15px;
  }

  .calendar-title{
    font-size: 30px;
  }
}