.calender_main{
  width: 100%;
  height: calc(100% - 70px);
  padding: 50px 50px 0;
}

.customer_new{
  font-size: 20px;
  text-align: right;
  padding-bottom: 10px;
}

.customer_chart{
  font-size: 20px;
  text-align: right;
}

tr th{
  background-color: rgb(233, 133, 133);
}

tr td{
  background-color: ivory;
}

.visit_calender a{
  color: rgb(31, 29, 29);
  background-color: rgb(210, 240, 210);
}

.calendar-title{
  font-size: 40px;
  color: antiquewhite;
}
